@{
    ViewData["Title"] = "Country List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using System.Data
@model DataTable
<a type="button" class="btn btn-success" asp-action="LOC_CountryAdd" asp-area="LOC_Country" asp-controller="LOC_Country">Add</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Country ID</th>
            <th>Country Name</th>
            <th>Country Code</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dataRow in Model.Rows)
        {
            <tr>
                <td>@dataRow["CountryID"]</td>
                <td>@dataRow["CountryName"]</td>
                <td>@dataRow["CountryCode"]</td>
                <td>@Convert.ToDateTime(dataRow["Created"]).ToString("dd-MM-yyyy")</td>
                <td>@Convert.ToDateTime(dataRow["Modified"]).ToString("dd-MM-yyyy")</td>
                <td>
                    <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryDelete">
                        <input type="hidden" value="@Convert.ToInt32(dataRow["CountryID"])" name="CountryID" />
                        <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                    </form>
                    @*<form method="" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryDelete">
                        <input type="hidden" value="@Convert.ToInt32(dataRow["CountryID"])" name="CountryID" />
                        <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                    </form>*@
                </td>
            </tr>
        }
    </tbody>
</table>