@{
    ViewData["Title"] = "Country List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data
@model DataTable
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Country</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i></a></li>
                <li class="breadcrumb-item"><a asp-controller="LOC_Country" asp-action="LOC_CountryList">Country List</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div class="d-flex justify-content-between align-items-center m-2">
        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryFilter">
                <input type="text" name="CountryData" placeholder="Country Data">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div>
        <a asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAdd" class="btn btn-outline-primary"><i class="bi bi-plus-lg"></i>&nbsp;Add Country</a>

    </div> <!-- End Search Bar -->
    <table class="table table-hover table-header-fixed">
        <thead>
            <tr>
                <th scope="col">Country Name</th>
                <th scope="col">Country Code</th>
                <th class="text-center">Created</th>
                <th class="text-center">Modified</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow dataRow in Model.Rows)
            {
                <tr>
                    <td>@dataRow["CountryName"]</td>
                    <td>@dataRow["CountryCode"]</td>
                    <td class="text-center">@Convert.ToDateTime(dataRow["Created"]).ToString("dd-MM-yyyy")</td>
                    <td class="text-center">@Convert.ToDateTime(dataRow["Modified"]).ToString("dd-MM-yyyy")</td>
                    <td class="text-center">
                        <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryDelete">
                            <input type="hidden" value="@Convert.ToInt32(dataRow["CountryID"])" name="CountryID">
                            <button type="submit" class="btn btn-outline-danger btn-xs" onclick="return fun1();">
                                <i class="bi bi-x"></i>
                            </button>
                            <a class="btn btn-outline-success btn-xs" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAdd" asp-route-countryid="@Convert.ToInt32(dataRow["CountryID"])"><i class="bi bi-pencil-fill"></i></a>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>

@section Scripts
    {
    <script>
        function fun1() {
            if (confirm("Are you sure you want to delete?")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
        }
