@{
    ViewData["Title"] = "Country List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data
@model DataTable
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Country</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i></a></li>
                <li class="breadcrumb-item"><a asp-controller="LOC_Country" asp-action="LOC_CountryList">Country List</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div class="m-2">
        <form class="row g-3" method="POST" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryFilter">
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingZip" name="CountryData" placeholder="Country Data">
                    <label for="floatingZip">Counter Data</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating dataTables_filter" id="sample_1_filter">
                    <input type="text" class="form-control input-sm input-small input-inline" id="sample_1" placeholder="Search">
                    <label for="floatingZip">Counter Data</label>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="text-right">
                    <button type="submit" class="btn btn-outline-success" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryFilter">Submit</button>
                    <button type="submit" runat="server" OnClientClick="this.form.reset();return false;" class="btn btn-outline-secondary">Reset</button>
                </div>
                <div>
                    <a asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAdd" class="btn btn-outline-primary"><i class="bi bi-plus-lg"></i>&nbsp;Add Country</a>
                </div>
            </div>
        </form>
    </div>
    <table class="table table-hover table-header-fixed">
        <thead>
            <tr>
                <th scope="col">Country Name</th>
                <th scope="col">Country Code</th>
                <th class="text-center">Created</th>
                <th class="text-center">Modified</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody id="sample_2">
            @foreach (DataRow dataRow in Model.Rows)
            {
                <tr>
                    <td>@dataRow["CountryName"]</td>
                    <td>@dataRow["CountryCode"]</td>
                    <td class="text-center">@Convert.ToDateTime(dataRow["Created"]).ToString("dd-MM-yyyy")</td>
                    <td class="text-center">@Convert.ToDateTime(dataRow["Modified"]).ToString("dd-MM-yyyy")</td>
                    <td class="text-center">
                        <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryDelete">
                            <input type="hidden" value="@Convert.ToInt32(dataRow["CountryID"])" name="CountryID">
                            <button type="submit" class="btn btn-outline-danger btn-xs" onclick="return fun1();">
                                <i class="bi bi-x"></i>
                            </button>
                            <a class="btn btn-outline-success btn-xs" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAdd" asp-route-countryid="@Convert.ToInt32(dataRow["CountryID"])"><i class="bi bi-pencil-fill"></i></a>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function fun1() {
            if (confirm("Are you sure you want to delete?")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
        }
