@{
    ViewData["Title"] = "Country List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data
@model DataTable
<table class="table table-striped">
    <thead>
        <tr>
            <a class="btn btn-outline-primary" asp-action="LOC_CountryAdd" asp-area="LOC_Country" asp-controller="LOC_Country">Add</a>
        </tr>
        <tr>
            <th scope="col">Country ID</th>
            <th scope="col">Country Name</th>
            <th scope="col">Country Code</th>
            <th scope="col">Created</th>
            <th scope="col">Modified</th>
            <th scope="col" colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dataRow in Model.Rows)
        {
            <tr>
                <td>@dataRow["CountryID"]</td>
                <td>@dataRow["CountryName"]</td>
                <td>@dataRow["CountryCode"]</td>
                <td>@Convert.ToDateTime(dataRow["Created"]).ToString("dd-MM-yyyy")</td>
                <td>@Convert.ToDateTime(dataRow["Modified"]).ToString("dd-MM-yyyy")</td>
                <td>
                    <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryDelete">
                        <input type="hidden" value="@Convert.ToInt32(dataRow["CountryID"])" name="CountryID">
                        <button type="submit" class="btn btn-outline-danger" value="Delete">Delete</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAdd">
                        <input type="hidden" value="@Convert.ToInt32(dataRow["CountryID"])" name="CountryID">
                        <button type="submit" class="btn btn-outline-success" value="Edit">Edit</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>