@{
    ViewData["Title"] = "City List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    LOC_CityFilterModel lOC_CityFilterModel = new LOC_CityFilterModel();

}

@using System.Data
@using AdminPanel.Areas.LOC_City.Models;
@model DataTable


<main class="main" id="main">
    <div class="pagetitle">
        <h1>State</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i></a></li>
                <li class="breadcrumb-item"><a asp-controller="LOC_City" asp-action="LOC_CityList">City List</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="m-2">
        <form class="row g-3">
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <select class="form-control" asp-for="@lOC_CityFilterModel.CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))" onchange="stateChange();">
                        <option value="">Select Country</option>
                    </select>
                    <span asp-validation-for="@lOC_CityFilterModel.CountryID" class="text-danger"></span>
                    <label for="floatingSelect">Country</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <select class="form-control" asp-for="@lOC_CityFilterModel.StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))">
                        <option value="">Select State</option>
                    </select>
                    <span asp-validation-for="@lOC_CityFilterModel.StateID" class="text-danger"></span>
                    <label for="floatingSelect">Country</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="text" class="form-control input-sm input-small input-inline" placeholder="CityName" asp-for="@lOC_CityFilterModel.CityName">
                    <label for="floatingZip">City Name</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="text" class="form-control input-sm input-small input-inline" placeholder="CityCode" asp-for="@lOC_CityFilterModel.CityCode">
                    <label for="floatingZip">City Name</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating dataTables_filter" id="sample_1_filter">
                    <input type="text" class="form-control input-sm input-small input-inline" id="sample_1" placeholder="Search">
                    <label for="floatingZip">City Data</label>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="text-right">
                    <button type="submit" class="btn btn-outline-success" asp-area="LOC_City" asp-controller="LOC_City" asp-action="LOC_CityFilter">Submit</button>
                    <button type="submit" runat="server" OnClientClick="this.form.reset();return false;" class="btn btn-outline-secondary">Reset</button>
                </div>
                <div>
                    <a asp-area="LOC_City" asp-controller="LOC_City" asp-action="LOC_CityAdd" class="btn btn-outline-primary"><i class="bi bi-plus-lg"></i>&nbsp;Add City</a>
                </div>
            </div>
        </form>
    </div>
    <table class="table table-hover table-header-fixed">
        <thead>
            <tr>
                <th scope="col">City Name</th>
                <th scope="col">City Code</th>
                <th scope="col">Country Name</th>
                <th scope="col">State Name</th>
                <th class="text-center">Created</th>
                <th class="text-center">Modified</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody id="sample_2">
            @foreach (DataRow dataRow in Model.Rows)
            {
                <tr>
                    <td>@dataRow["CityName"]</td>
                    <td>@dataRow["CityCode"]</td>
                    <td>@dataRow["CountryName"]</td>
                    <td>@dataRow["StateName"]</td>
                    <td class="text-center">@Convert.ToDateTime(dataRow["CreationDate"]).ToString("dd-MM-yyyy")</td>
                    <td class="text-center">@Convert.ToDateTime(dataRow["Modified"]).ToString("dd-MM-yyyy")</td>
                    <td class="text-center">
                        <form method="post" asp-area="LOC_City" asp-controller="LOC_City" asp-action="LOC_CityDelete">
                            <input type="hidden" value="@Convert.ToInt32(dataRow["CityID"])" name="CityID">
                            <button type="submit" class="btn btn-outline-danger btn-xs" onclick="return fun1();">
                                <i class="bi bi-x"></i>
                            </button>
                            <a class="btn btn-outline-success btn-xs" asp-area="LOC_City" asp-controller="LOC_City" asp-action="LOC_CityAdd" asp-route-Cityid="@Convert.ToInt32(dataRow["CityID"])"><i class="bi bi-pencil-fill"></i></a>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        function fun1() {
            if (confirm("Are you sure you want to delete?")) {
                return true;
            }
            else {
                return false;
            }
        }

        function stateChange() {
            var CountryID = $("#CountryID").val();

            if (CountryID !== "") {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("DropDownByCountry", "LOC_City")" + "?&CountryID=" + CountryID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            $.each(Result,
                                function (key, value) {
                                    $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                                });
                        },
                        error: function (r) {
                            alert("Error while loading combobox.");
                        }
                    });
            }
            else {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
            }
        }
    </script>
    }
