@{
    ViewData["Title"] = "City Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AdminPanel.Areas.LOC_City.Models.LOC_CityModel

<div>
    <form method="post" asp-controller="LOC_City" asp-action="LOC_CitySave" asp-area="LOC_City">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-floating mb-3">
            <input type="text" value="@Model.CityName" asp-for="CityName" class="form-control" id="floatingInput" placeholder="State Name" />
            <label>City Name</label>
            <span asp-validation-for="CityName" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="text" value="@Model.CityCode" asp-for="CityCode" class="form-control" id="floatingInput" placeholder="State Name" />
            <label>City Code</label>
            <span asp-validation-for="CityCode" class="text-danger"></span>
        </div>
        <div class="form-group dropdown mb-3">
            <label class="p-2">Country Name</label>
            <select class="form-control" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))" onchange="stateChange();">
                <option value="">Select Country</option>
            </select>
        </div>
        <div class="form-group dropdown mb-3">
            <label class="p-2">State Name</label>
            <select class="form-control" asp-for="StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))">
                <option value="">Select State</option>
            </select>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <input type="hidden" name="CityID" value="@Model.CityID" />
            <input type="submit" value="Save" class="submit btn btn-outline-primary" />
        </div>
    </form>
</div>

@section Scripts{
    <script>
        function stateChange() {
            var CountryID = $("#CountryID").val();

            if (CountryID !== "") {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("DropDownByCountry", "LOC_City")" + "?&CountryID=" + CountryID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            $.each(Result,
                                function (key, value) {
                                    $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                                });
                        },
                        error: function (r) {
                            alert("Error while loading combobox.");
                        }
                    });
            }
            else {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
            }
        }
    </script>
}

