@{
    ViewData["Title"] = "City List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data
@model DataTable
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <a class="btn btn-outline-primary" asp-action="LOC_CityAdd" asp-area="LOC_City" asp-controller="LOC_City">Add</a>
        </tr>
        <tr>
            <th scope="col">City ID</th>
            <th scope="col">City Name</th>
            <th scope="col">City Code</th>
            <th scope="col">State ID</th>
            <th scope="col">State Name</th>
            <th scope="col">Country ID</th>
            <th scope="col">Country Name</th>
            <th scope="col">Created</th>
            <th scope="col">Modified</th>
            <th scope="col" colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dataRow in Model.Rows)
        {
            <tr>
                <td>@dataRow["CityID"]</td>
                <td>@dataRow["CityName"]</td>
                <td>@dataRow["CityCode"]</td>
                <td>@dataRow["StateID"]</td>
                <td>@dataRow["StateName"]</td>
                <td>@dataRow["CountryID"]</td>
                <td>@dataRow["CountryName"]</td>
                <td>@Convert.ToDateTime(dataRow["CreationDate"]).ToString("dd-MM-yyyy")</td>
                <td>@Convert.ToDateTime(dataRow["Modified"]).ToString("dd-MM-yyyy")</td>
                <td>
                    <form method="post" asp-area="LOC_City" asp-controller="LOC_City" asp-action="LOC_CityDelete">
                        <input type="hidden" value="@Convert.ToInt32(dataRow["CityID"])" name="CityID">
                        <button type="submit" class="btn btn-outline-danger" value="Delete">Delete</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-area="LOC_City" asp-controller="LOC_City" asp-action="LOC_CityAdd">
                        <input type="hidden" value="@Convert.ToInt32(dataRow["CityID"])" name="CityID">
                        <button type="submit" class="btn btn-outline-success" value="Edit">Edit</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>